html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', 'Arial', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'sans-serif';
  font-size: 14.4px;
  line-height: 2em;
}

dt {
  font-weight: normal;
}
