// ------------------------------------------------
// color
// ------------------------------------------------
$black: #000;
$black-alpha: #12121229;
$red: #E03131;
$white: #fff;


// ------------------------------------------------
// value
// ------------------------------------------------
$max-width: 1000px;
$price-text-width: 50px;
$break-point: 600px;
