// ------------------------------------------------
// color
// ------------------------------------------------
$black: #000;
$black-alpha: #12121229;
$white: #fff;
$orange: #D17B28;

$accent: $orange;

// ------------------------------------------------
// font
// ------------------------------------------------
$default-font-family: 'Helvetica Neue', 'Arial', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'sans-serif';
$default-font-size: 14.4px;
$default-line-height: 2em;

// ------------------------------------------------
// value
// ------------------------------------------------
$max-width: 1000px;
$price-text-width: 50px;
$break-point: 600px;
