@use '../global/index' as global;

.header {
  height: 100vh;
  margin-bottom: 20px;

  &__nav {
    position: relative;
    z-index: 2;
  }

  &__mainvisual {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    @include global.flex-center;
    background-position: center;
    background-size: cover;
  }

  &__logo {
    color: global.$white;
    font-size: 115px;
    font-weight: bold;
    line-height: 150%;
  }
}

@media screen and (max-width: global.$break-point) {
  .header {
    margin-bottom: 10px;

    &__logo {
      font-size: 84.5px;
    }
  }
}
