@use '../global/index' as g;

.headline {
  width: 100%;
  text-align: center;

  &__text-with-line {
    font-size: 40px;
    font-weight: bold;  
    display: inline-block;
    padding-bottom: 17px;
    border-bottom: 6px solid g.$accent;
  }
}

@media screen and (max-width: g.$break-point) {
  .headline__text-with-line {
    font-size: 20px;
    padding-bottom: 2px;
  }
}
