@use '../variables' as v;
@use '../mixin' as m;

.menu {
  display: flex;

  &__left-column {
    width: 50%;
    border-right: 1px solid v.$black;
  }

  &__right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
