@use '../global/index' as g;

.nav-list {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px;

  &__item {
    margin-right: 24px;
    color: g.$white;
    font-size: 14.4px;
    font-weight: bold;
    text-shadow: 1px 1px 2px g.$black-alpha;
  }
}
