@use '../variables' as v;
@use '../mixin' as m;

.nav-list {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px;

  &__item {
    margin-left: 24px;
    color: v.$white;
    font-size: 14.4px;
    font-weight: bold;
    text-shadow: 1px 1px 2px v.$black-alpha;
  }
}
