@use '../variables' as v;
@use '../mixin' as m;

.section-head {
  height: 300px;
  @include m.flex-center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__logo {
    color: v.$white;
    font-size: 72px;
    font-weight: bold;
  }
}
