@use '../global/index' as global;

.section-head {
  height: 300px;
  @include global.flex-center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__logo {
    color: global.$white;
    font-size: 72px;
    font-weight: bold;
  }
}

@media screen and (max-width: global.$break-point) {
  .section-head {
    height: 94px;

    &__logo {
      font-size: 32px;
    }
  }
}
