@use '../variables' as v;
@use '../mixin' as m;

.two-column {
  display: flex;

  &__left {
    width: 50%;
    border-right: 1px solid v.$black;
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
